* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
/* #ul {
  list-style: none;
} */
.country-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}
.country-list > li > img {
  max-width: 100px;
}

.country-info > img {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-info__elem {
  list-style: none;
}
